git/modules
.vscode/
docker/blockchain/
docker/ci/
docker/haf/
docker/pgadmin4/
docker/srv/
docker/.env*
docker/docker-compose*
docker/README.md
haf/
misc/
tests/

.dockerignore
.gitattributes
.gitignore
.gitlab-ci.yml
.gitmodules
.sqlfluff
docker-bake.hcl
Dockerfile
README.md
