tests/performance/result_report
tests/performance/result.jtl
tests/performance/result.xml
tests/performance/junit-result.xml
tests/performance/*.tar.gz
tests/performance/.~lock.log.jtl#
db/__pycache__
server/__pycache__
btracker_sync.log
shellcheck-*.*

# Docker deployment
docker/blockchain/block_log*
docker/ci/.env
docker/*.tar.gz
.env.*
docker-compose.override.yml

# IDEs
.vscode/

set_version_in_sql.pgsql