tests/performance/result_report
tests/performance/result.jtl
tests/performance/result.xml
tests/performance/junit-result.xml
tests/performance/*.tar.gz
tests/performance/.~lock.log.jtl#
tests/account_balances/accounts_dump.json
set_version_in_sql.pgsql
db/__pycache__
server/__pycache__
btracker_sync.*
shellcheck-*.*
**/test-results.xml
**/test-results.jtl
**/local.env
**/ci.env
endpoints_openapi
build
*.log

# Docker deployment
docker/blockchain/block_log*
docker/ci/.env
docker/*.tar.gz
.env.*
docker-compose.override.yml

# IDEs
.vscode/

# Python API client generaration
scripts/python_api_package/balance_api/balance_api_client
scripts/python_api_package/dist
