.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__form {
  margin-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.alert {
  text-align: left;
}

.alert__paragraph {
  color: red;
}

.content__charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
