.chartFor13,
.chartFor21,
.chartFor37 {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chartFor13__stack,
.chartFor21__stack,
.chartFor37__stack {
  margin-left: 50px;
}
.stack__button--reset {
  margin-bottom: 25px;
}
